<section class="footer">
    <div class="foot-links">
        <a href="/"><i class="fa-brands fa-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="foot-rights head-none row">
        <a><i class="fa-solid fa-copyright"></i> nth2prove</a>
        <a href="https://github.com/TechBros4all">code by techbros</a>
        <a href="/">designed by N2P</a>
    </div>
</section>