<div class="navbar">
    <nav>
        <ul class="row">
            <li>
                <i class="fa-solid fa-bars"></i>
            </li>
            <li><a href="/">Nth 2 Prove</a></li>
            <li>
                <a href="/">home</a>
                <a href="/">tees</a>
                <a href="/">pants</a>
                <a href="/">hats</a>
            </li>
            <li>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-search"></i>
                <a href="/cart"><i class="fa-solid fa-shopping-bag"></i></a>
                <i class="fa-solid fa-user"></i>
            </li>
        </ul>
    </nav>
</div>