<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>N2P(Nothing To Prove)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <%- include('partials/header') %>
        <link rel="stylesheet" href="styles/home.css">
</head>

<body>

    <%- include('partials/navbar') %>
        <main class="container">
            <section class="hero" style="padding-top: 15vh;">
                <div class="cart-parent">
                    <section>
                        <% for( let i=1; i <2; i++ ) { %>
                            <div class="cols-cont">
                                <div class="img-here">
                                    <img src="/images/col (<%= i %>).png" alt="image">
                                </div>
                            </div>
                            <button class="btn cart-out"><a href="">Buy Now</a></button>
                            <% } %>
                        </section>
                        <div class="pro-controls">
                            <h3>Black Tee's</h3>
                            <p>$10,000</p>
                            <br>
                            <div>
                                <button class="btn"><i class="fa-solid fa-minus"></i></button>
                                <span class="pro-num">1</span>
                                <button class="btn"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <button class="btn cart-out-mob"><a href="">Buy Now</a></button>
                    <br>
                    <hr>
                </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <%- include('partials/footer') %>
            <script src="/scripts/common.js"></script>
            <script src="/scripts/product.js"></script>
</body>

</html>