<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>N2P(Nothing To Prove)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="N2P/Techbros">
    <meta name="description"
        content="N2P(Nothing To Prove)is a Nigerian Based clothing brand that embodies confidence, individuality, Creativity,Quality and Self expression The brand's name conveys the idea that true style and personal worth do not need “validation”from others. It celebrates the authenticity and uniqueness of each individual, encouraging people to embrace their own sense of fashion.">
    <meta name="keywords"
        content="N2P nothing to prove, nothing, prove, Design, Fashion, Shirt, tee, tees, Shirts, Hat, Hats, Truckers, Cargo, pants, cargo pants">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="N2P(Nothing To Prove)">
    <meta property="og:description"
        content="N2P(Nothing To Prove)is a Nigerian Based clothing brand that embodies confidence, individuality, Creativity,Quality and Self expression The brand's name conveys the idea that true style and personal worth do not need “validation”from others. It celebrates the authenticity and uniqueness of each individual, encouraging people to embrace their own sense of fashion.">
    <meta property="og:image" content="/images/N2P_LOGO_LIGHT.png">
    <meta property="og:url" content="https://www.example.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="N2P(Nothing To Prove)">
    <meta name="twitter:description"
        content="N2P(Nothing To Prove)is a Nigerian Based clothing brand that embodies confidence, individuality, Creativity,Quality and Self expression The brand's name conveys the idea that true style and personal worth do not need “validation”from others. It celebrates the authenticity and uniqueness of each individual, encouraging people to embrace their own sense of fashion.">
    <meta name="twitter:image" content="URL to your image">
    <link rel="shortcut icon" href="/images/N2P_LOGO_LIGHT.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/common.css">
</head>

<body>
    <h1>Store Page</h1>
</body>

</html>