<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>N2P(Nothing To Prove)</title>
    <%- include('partials/header') %>
        <link rel="stylesheet" href="home/product.css">
</head>

<body>

    <%- include('partials/navbar') %>
        <main class="container">
            <section class="hero">
                <div class="hero-text">
                    <p>Nothing Here</p>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
        <script src="/scripts/common.js"></script>
</body>

</html>